footer {
  padding: var(--footer-padding) 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  }
  .footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--standard-gap);
}
.footer-icons img {
  width: auto;
  height: var(--footer-icon-height);
}

