:root {
  --footer-padding: 1rem;
  --footer-icon-height: 3rem;
  --footer-height: calc(2 * var(--footer-padding) + var(--footer-icon-height) + var(--copyright-font-size));

  --content-padding: 0.75em;
  --border-radius: 5px;
  --button-input-padding: 0.75em 0.75em;
  --heading-underline: 4px solid var(--highlight-color);
  --box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);

  /* standard space */
  --standard-gap: 1rem;
  /* space under heading */
  --bigger-gap: 2.5rem;
  /* space between different topic */
  --section-separator: 10vh 0;
  /* space between main and footer */
  --space-after-main: 5vh;
}

/* Basic Structure */
body {
  max-width: 100vw;
}
header {
  width: 100%;
}
main {
  max-width: 100%;
  min-height: calc(100vh - var(--nav-height) - var(--footer-height));
  margin-top: var(--nav-height);
}
footer {
  min-height: var(--footer-height);
  max-width: 100%;
  margin-top: 150px;
}
  
/* Heading */
h3 {
  border-bottom: var(--heading-underline);
}
/* experience.html & contact.html */
h1.page-heading {
  margin: 10vh 0;
  border-bottom: var(--heading-underline);
  display: table-caption;
}